@using ChatCore.Engine
@model ChatViewModel

<div class="card-header msg_head">
    <div class="d-flex bd-highlight">
        <div class="img_cont">
            <img identicon-value="Model.ReceiverUser.UserName" class="rounded-circle user_img" />
            <span class="online_icon"></span>
        </div>
        <div class="user_info">
            <span>Chat with @Model.ReceiverUser.UserName</span>
            <p>@Model.ChatObjects.Count Messages</p>
        </div>
    </div>
    <span id="action_menu_btn">
        <a asp-action="Logout" asp-controller="Accounts">
            <i class="fa fa-power-off"></i>
        </a>
    </span>
</div>
<div id="messageContainer" class="card-body msg_card_body">
    @foreach (var item in Model.ChatObjects.OrderBy(x => x.CreatedOn))
    {
        if (item.SenderName == Model.CurrentUser.UserName)
        {
            @await Html.PartialAsync("_senderChat", item);
        }
        else
        {
            @await Html.PartialAsync("_receiverChat", item);
        }
    }
</div>
<div class="card-footer">
    <div class="input-group">
        <textarea id="MessageField" name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
        <div class="input-group-append">
            <button id="sendButton" class="input-group-text send_btn">
                <i class="fa fa-location-arrow"></i>
            </button>
        </div>
    </div>
</div>

