@using ChatCore.Engine
@model ChatObject
<div class="d-flex justify-content-end mb-4">
    <div class="msg_cotainer_send">
        @Model.Message
        <span class="msg_time_send">@Model.CreatedOn</span>
    </div>
    <div class="img_cont_msg">
        <img identicon-value="Model.SenderName" class="rounded-circle user_img_msg" width="60" height="60" alt="Identicon" />
    </div>
</div>