@using ChatCore.Engine
@model ChatObject
<div class="d-flex justify-content-end mb-4">
    <div class="msg_cotainer_send">
        @Model.Message
        <span class="msg_time_send">@Model.CreatedOn</span>
    </div>
    <div class="img_cont_msg">
        @Html.Identicon(Model.SenderName, 60)
    </div>
</div>